<div class="login-container">
    <img class="film" src="https://media.istockphoto.com/vectors/black-film-reel-and-play-video-movie-film-icon-isolated-on-yellow-vector-id1269936208?k=20&m=1269936208&s=170667a&w=0&h=wjFRUIgJlVt1dz4FNBPRmLnWOrPzsxbWP5tD4TvXrW8=" alt="">
    <div class="logo">Imdb</div>
    <div class="desc"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
         standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen 
         book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
     
        </div>
        <div class="login-form">
            <div class="form-group">
                <label for="uname">UserName</label>
                <input type="text" name="uname" class="inputbox" [(ngModel)]="username">
            </div><br>
            <div class="form-group">
                <label for="pword">Password</label>
                <input type="password" name="pword" class="inputbox" [(ngModel)]="password">
            </div>
            <div class="btn-container">
                <div class="error">{{errorMsg}}</div>
                <button class="btn btn-dark" (click)="login()">Login</button>
            </div>
        </div>
</div>